
/*#1*/

header {
	border: 1px solid blue;
}

/*#2*/

.nav {
	list-style: none;
}

.nav li {
	display: inline;
	padding: 8px;
}

/*#4*/

.disabled {
	color: grey;
}

a .disabled {
	color: purple;
}

/*#5*/

.active {
	color: yellow;
}

/*#8*/
.red {
	color: red;
}

/*#9*/
.blue {
	color: blue;
}

/*#10*/
h4:nth-of-type(1) {
	background-color: red;
}

/*#11*/

h4:nth-of-type(2) {
	background-color: blue;
}

.no-color {
	background-color: white;
}

/*#12*/

.grandparent > h4 {
	border: 1px solid;
	border-radius: 30%;
}

/*#13*/

.promo {
	color: gold;
	font-weight: bold;
}

/*#14*/

input {
	height: 25px;
}

